@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
.button{
    font-size:larger;
    width: 64px;
    padding: 15px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 33px;
    cursor: pointer;
  }
  .light-green{
    background-color: rgb(164, 236, 164);
    color: rgb(1, 91, 1);
 }
 .dark-green{
    background-color: rgb(45, 135, 45);
 }
 .font-size{
     font-size: 3px;
 }
 .white{
  color: antiquewhite;
  font-weight: bolder;
 }
  
  .row{
    margin: 8px 0;  
  }
  .row input{
    width: 291px;
    font-size: 20px;
      margin: 0;
      padding: 10px 9px;
      border: 2px solid black;
      border-radius: 39px;
  }